<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <header class="container mt-5">
        <div class="card border-dark pb-5">
            <div class="card-body">
                <h1 class="card-title">Cabeçalho</h1>
            </div>
        </div>
    </header>

    <main class="container mt-4 mb-5">
        <section class="row">
            <div class="col-4">
                <div class="card border-dark">
                    <div class="card-body">
                        <h1 class="card-title">Título</h1>
                        <p class="card-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis qui minus reprehenderit maiores unde?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <table class="table table-striped table-bordered">
                    <tr class="table-secondary">
                        <th>xxxx</th>
                        <th>zzzzz</th>
                        <th>wwwww</th>
                        <th>yyyyy</th>
                    </tr>
                    <tr>
                        <td class="py-3">...</td>
                        <td class="py-3">...</td>
                        <td class="py-3">...</td>
                        <td class="py-3">...</td>
                    </tr>
                    <tr>
                        <td class="py-3">...</td>
                        <td class="py-3">...</td>
                        <td class="py-3">...</td>
                        <td class="py-3">...</td>
                    </tr>
                </table>
            </div>
        </section>

        <section class="row mt-4">
            <div class="col-8">
                <div class="card border-dark">
                    <div class="card-body">
                        <h1 class="card-title">Título</h1>
                        <p class="card-text pl-4">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat saepe doloremque laudantium adipisci odit, quae deserunt fugiat cupiditate, facilis quasi nulla, necessitatibus deleniti aliquid quis qui eum harum! Vel, aut.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <table class="table table-striped table-bordered">
                    <tr class="table-secondary">
                        <th>xxxx</th>
                        <th>zzzzz</th>
                    </tr>
                    <tr>
                        <td class="py-3">...</td>
                        <td class="py-3">...</td>
                    </tr>
                    <tr>
                        <td class="py-3">...</td>
                        <td class="py-3">...</td>
                    </tr>
                </table>
            </div>
        </section>

        <section class="row mt-4">
            <div class="col-4">
                <table class="table table-striped table-bordered">
                    <tr class="table-secondary">
                        <th>xxxx</th>
                        <th>zzzzz</th>
                    </tr>
                    <tr>
                        <td class="py-3">...</td>
                        <td class="py-3">...</td>
                    </tr>
                    <tr>
                        <td class="py-3">...</td>
                        <td class="py-3">...</td>
                    </tr>
                </table>
            </div>
            <div class="col-4">
                <table class="table table-striped table-bordered">
                    <tr class="table-secondary">
                        <th>xxxx</th>
                        <th>zzzzz</th>
                    </tr>
                    <tr>
                        <td class="py-3">...</td>
                        <td class="py-3">...</td>
                    </tr>
                    <tr>
                        <td class="py-3">...</td>
                        <td class="py-3">...</td>
                    </tr>
                </table>
            </div>
            <div class="col-4">
                <table class="table table-striped table-bordered">
                    <tr class="table-secondary">
                        <th>xxxx</th>
                        <th>zzzzz</th>
                    </tr>
                    <tr>
                        <td class="py-3">...</td>
                        <td class="py-3">...</td>
                    </tr>
                    <tr>
                        <td class="py-3">...</td>
                        <td class="py-3">...</td>
                    </tr>
                </table>
            </div>
        </section>

        <section class="row mt-4">
            <div class="col-12">
                <div class="card border-dark">
                    <div class="card-body">
                        <h1 class="card-title">Título</h1>
                        <div class="px-3">
                            <table class="table table-striped table-bordered">
                                <tr class="table-secondary">
                                    <th>xxxx</th>
                                    <th>zzzzz</th>
                                    <th>wwwww</th>
                                    <th>yyyyy</th>
                                    <th>xxxx</th>
                                    <th>zzzzz</th>
                                    <th>wwwww</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td class="py-3">...</td>
                                    <td class="py-3">...</td>
                                    <td class="py-3">...</td>
                                    <td class="py-3">...</td>
                                    <td class="py-3">...</td>
                                    <td class="py-3">...</td>
                                    <td class="py-3">...</td>
                                    <td class="py-3">...</td>
                                </tr>
                                <tr>
                                    <td class="py-3">...</td>
                                    <td class="py-3">...</td>
                                    <td class="py-3">...</td>
                                    <td class="py-3">...</td>
                                    <td class="py-3">...</td>
                                    <td class="py-3">...</td>
                                    <td class="py-3">...</td>
                                    <td class="py-3">...</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="row mt-4">
            <div class="col-4">
                <div class="card border-dark">
                    <div class="card-body">
                        <h1 class="card-title">Título</h1>
                        <p class="card-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt cupiditate dolorum, itaque at repellat odio soluta quibusdam molestias, voluptatem quidem deserunt quos dolores eos!
                        </p>
                    </div>
                </div>
                <div class="card border-dark mt-4">
                    <div class="card-body">
                        <h1 class="card-title">Título</h1>
                        <p class="card-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt cupiditate dolorum, itaque at repellat odio soluta quibusdam molestias, voluptatem quidem deserunt quos dolores eos!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card border-dark pb-2">
                    <div class="card-body">
                        <h1 class="card-title">Título</h1>
                        <p class="card-text pl-4 pr-5 pb-3">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt cupiditate dolorum, itaque at repellat odio soluta quibusdam molestias, voluptatem quidem deserunt quos dolores eos! Veritatis sunt ipsa ullam corrupti amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fugiat animi sed explicabo necessitatibus ut eos doloremque sequi iure beatae! Consequatur ipsum error reprehenderit dolorum suscipit! Optio nostrum aspernatur necessitatibus.
                        </p>
                        <table class="table table-striped table-bordered">
                            <tr class="table-secondary">
                                <th>xxxx</th>
                                <th>zzzzz</th>
                                <th>wwwww</th>
                                <th>yyyyy</th>
                            </tr>
                            <tr>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                            </tr>
                            <tr>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <section class="row mt-4">
            <div class="col-8">
                <div class="card border-dark pb-1">
                    <div class="card-body">
                        <h1 class="card-title">Título</h1>
                        <p class="card-text pl-4 pr-5 pb-3">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt cupiditate dolorum, itaque at repellat odio soluta quibusdam molestias, voluptatem quidem deserunt quos dolores eos! Veritatis sunt ipsa ullam corrupti amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fugiat animi sed explicabo necessitatibus ut eos doloremque sequi iure beatae! Consequatur ipsum error reprehenderit dolorum suscipit! Optio nostrum aspernatur necessitatibus.
                        </p>
                        <table class="table table-striped table-bordered">
                            <tr class="table-secondary">
                                <th>xxxx</th>
                                <th>zzzzz</th>
                                <th>wwwww</th>
                                <th>yyyyy</th>
                            </tr>
                            <tr>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                            </tr>
                            <tr>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-dark">
                    <div class="card-body">
                        <h1 class="card-title">Título</h1>
                        <p class="card-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt cupiditate dolorum, itaque at repellat odio soluta quibusdam molestias, voluptatem quidem deserunt quos dolores eos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi est eius impedit, soluta vel cupiditate in accusamus, molestiae illum delectus eveniet quaerat ducimus omnis tempore accusantium, dolorem sint aut architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque optio, ratione quos corporis provident itaque quam assumenda sunt consectetur magni ducimus fuga reiciendis.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>