<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <main class="container my-5">
        <div class="row">
            <div class="col-5">
                <section class="card border-dark">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <img src="../images/user.png" alt="Usuario" class="img-fluid">
                            </div>
                            <div class="col-7">
                                <h3 class="card-title">Texto</h3>
                                <p class="card-text text-right">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis est doloremque voluptates, nulla, nisi dignissimos.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="card border-dark mt-4 pb-5">
                    <div class="card-body pb-5 mb-4">
                        <h2 class="card-title"><u>Texto</u></h2>
                        <p class="card-text text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi amet iste similique consequatur nobis iusto quo facere impedit ea labore? Cum incidunt culpa cupiditate nostrum quo sequi molestias reiciendis unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore debitis earum error, dignissimos eum tenetur soluta officia obcaecati, necessitatibus ipsum iure at atque impedit distinctio cumque natus, quasi a rerum.
                        </p>
                        <p class="card-text text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi amet iste similique consequatur nobis iusto quo facere impedit ea labore? Cum incidunt culpa cupiditate nostrum quo sequi molestias reiciendis unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore debitis earum error, dignissimos eum tenetur soluta officia obcaecati, necessitatibus ipsum iure at atque impedit distinctio cumque natus, quasi a rerum.
                        </p>
                    </div>
                </section>
            </div>

            <div class="col-7">
                <div class="card border-dark">
                    <div class="card-body">
                        <h1 class="card-title">Texto</h1>
                        <p class="card-text text-warning text-right ml-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. A maxime possimus repellat cum, eius modi sapiente vitae ullam molestiae laboriosam. Ullam quo corrupti nobis ratione asperiores nulla similique voluptates culpa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor culpa tenetur, necessitatibus consequatur cupiditate odio possimus quidem iusto incidunt id molestias distinctio, facilis animi tempore saepe esse repudiandae enim repellendus?
                        </p>
                        <p class="card-text text-warning text-right ml-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. A maxime possimus repellat cum, eius modi sapiente vitae ullam molestiae laboriosam. Ullam quo corrupti nobis ratione asperiores nulla similique voluptates culpa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor culpa tenetur, necessitatibus consequatur cupiditate odio possimus quidem iusto incidunt id molestias distinctio, facilis animi tempore saepe esse repudiandae enim repellendus?
                        </p>
                        <p class="card-text text-warning text-right ml-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. A maxime possimus repellat cum, eius modi sapiente vitae ullam molestiae laboriosam. Ullam quo corrupti nobis ratione asperiores nulla similique voluptates culpa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor culpa tenetur, necessitatibus consequatur cupiditate odio possimus quidem iusto incidunt id molestias distinctio, facilis animi tempore saepe esse repudiandae enim repellendus?
                        </p>
                        <p class="card-text text-warning text-right ml-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. A maxime possimus repellat cum, eius modi sapiente vitae ullam molestiae laboriosam. Ullam quo corrupti nobis ratione asperiores nulla similique voluptates culpa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor culpa tenetur, necessitatibus consequatur cupiditate odio possimus quidem iusto incidunt id molestias distinctio, facilis animi tempore saepe esse repudiandae enim repellendus?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>