<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <header class="container mt-5">
        <div class="bg-dark p-3">
            <h1 class="display-4 text-white"><strong>Cabeçalho</strong></h1>
            <h2 class="text-warning">Texto ...</h2>
        </div>
    </header>

    <main class="container my-5">
        <section class="row">
            <div class="col-4">
                <div class="row mr-2">
                    <div class="col-6">
                        <figure>
                            <img src="../images/clock.png" alt="Relogio" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-6">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nam velit omnis itaque dolorem.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="row mr-2">
                    <div class="col-6">
                        <figure>
                            <img src="../images/camera.png" alt="Camera" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-6">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nam velit omnis itaque dolorem.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="row mr-2">
                    <div class="col-6">
                        <figure>
                            <img src="../images/teddy.png" alt="Teddy" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-6">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nam velit omnis itaque dolorem.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="row">
            <div class="col-8 mt-5">
                <h1 class="text-danger">Texto</h1>
                <p class="pl-5">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro vel eum minus quam, commodi fugit ipsam pariatur dolorum dignissimos recusandae aut. Similique id nam saepe aperiam odio asperiores a doloribus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis voluptate eius molestiae veritatis repellat eveniet amet, quae, laboriosam rem incidunt recusandae ut inventore nulla suscipit quas dolores odio in molestias.
                </p>

                <h1 class="text-primary">Texto</h1>
                <p class="text-danger pl-5">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro vel eum minus quam, commodi fugit ipsam pariatur dolorum dignissimos recusandae aut. Similique id nam saepe aperiam odio asperiores a doloribus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus similique amet provident in illum odio deleniti laborum asperiores voluptas, hic fuga neque, ad, quo libero fugit quos qui dolore culpa.
                </p>
            </div>
            <div class="col-4">
                <h2>Texto</h2>
                <p class="pl-2 mb-2 text-danger">Parágrafo Texto Texto</p>
                <p class="pl-2 mb-2 text-primary">Parágrafo Texto Texto</p>
                <p class="pl-2 mb-2 text-secondary">Parágrafo Texto Texto</p>

                <h2>Texto</h2>
                <p class="pl-2 mb-2 text-dark">Parágrafo Texto Texto Texto Texto</p>
                <p class="pl-2 mb-2 text-danger">Parágrafo Texto Texto Texto Texto</p>
                <p class="pl-2 mb-2 text-warning">Parágrafo Texto Texto Texto Texto</p>
                <p class="pl-2 mb-2 text-primary">Parágrafo Texto Texto Texto Texto</p>

                <h2>Texto</h2>
                <p class="pl-2 mb-2 text-primary h4">Parágrafo Texto Texto</p>
                <p class="pl-2 mb-2 text-danger">Parágrafo Texto Texto Texto</p>
                <p class="pl-2 mb-2 text-secondary"><small>Parágrafo Texto Texto Texto Texto</small></p>
            </div>
        </section>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>