<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <header class="container mt-5">
        <div class="bg-dark p-3">
            <h1 class="display-4 text-white"><strong>Cabeçalho</strong></h1>
            <h2 class="text-warning">Texto ...</h2>
        </div>
    </header>

    <main class="container mt-4 mb-5">
        <section class="row">
            <div class="col-5">
                <div class="card border-dark">
                    <div class="card-body">
                        <h2 class="card-title">Texto</h2>
                        <p class="h3 card-text text-danger">Parágrafo Texto Texto</p>
                        <p class="h3 card-text">Parágrafo Texto Texto</p>
                    </div>
                </div>
                <div class="card border-dark mt-4">
                    <div class="card-body">
                        <h2 class="card-title">Texto</h2>
                        <p class="h4 card-text text-danger">Parágrafo Texto Texto</p>
                        <p class="h4 card-text text-info">Parágrafo Texto Texto</p>
                        <p class="h4 card-text">Parágrafo Texto Texto</p>
                    </div>
                </div>
                <div class="card border-dark mt-4">
                    <div class="card-body">
                        <h2 class="card-title">Texto</h2>
                        <p class="h5 card-text text-info">Parágrafo Texto Texto Texto Texto</p>
                        <p class="h5 card-text text-danger">Parágrafo Texto Texto Texto Texto</p>
                        <p class="h5 card-text text-warning">Parágrafo Texto Texto Texto Texto</p>
                        <p class="h5 card-text">Parágrafo Texto Texto Texto Texto</p>
                    </div>
                </div>
                <div class="card border-dark mt-4">
                    <div class="card-body">
                        <h2 class="card-title">Texto</h2>
                        <p class="h3 card-text text-info">Parágrafo Texto Texto</p>
                        <p class="h4 card-text text-danger">Parágrafo Texto Texto Texto</p>
                        <p class="h5 card-text text-warning">Parágrafo Texto Texto Texto Texto</p>
                    </div>
                </div>
            </div>

            <div class="col-7">
                <div class="card border-dark pb-5">
                    <div class="card-header border-bottom-0">
                        <h2 class="card-title">Texto</h2>
                        <p class="h4 card-text ml-5 pl-5">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quibusdam possimus dolores expedita quo, ad eius aliquam omnis repellendus officiis qui harum nihil aperiam nam, earum ratione deserunt perspiciatis eligendi?
                        </p>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title text-danger">Texto</h1>
                        <p class="h4 card-text text-danger ml-5 pl-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, voluptate quo impedit aspernatur sapiente molestiae architecto qui, ipsum nobis autem dolor quis delectus accusantium. Nostrum quod explicabo vero asperiores quasi!
                        </p>
                    </div>
                    <div class="card-footer border-top-0 pb-3">
                        <h1 class="card-title text-info">Texto</h1>
                        <p class="h4 card-text text-info ml-5 pl-5 pb-3">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, voluptate quo impedit aspernatur sapiente molestiae architecto qui, ipsum nobis autem dolor quis delectus accusantium. Nostrum quod explicabo vero asperiores quasi!
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>