<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <header class="container my-5">
        <h1>André Moura Benedicto</h1>
    </header>

    <main class="container my-5 pt-3">
        <section>
            <figure>
                <figcaption class="h3 mb-5">Nome da Figura</figcaption>
                <img src="https://picsum.photos/1000/250" alt="Foto" class="img-fluid pl-5">
            </figure>
        </section>

        <section class="mt-5 pt-3">
            <h2 class="pb-4">Título</h2>
            <div class="text-right">
                <p class="h5 mb-0">Texto... Texto... Texto... Texto... Texto... Texto... Texto... Texto... </p>
                <p class="h5 mb-0">Texto... Texto... Texto... Texto... Texto... Texto... Texto... Texto... </p>
                <p class="h5 mb-0">Texto... Texto... Texto... Texto... Texto... Texto... Texto... Texto... </p>
                <p class="h5 mb-0">Texto... Texto... Texto... Texto... Texto... Texto... Texto... Texto... </p>
                <p class="h5 mb-0">Texto... Texto... Texto... Texto... Texto... Texto... Texto... Texto... </p>
            </div>
        </section>
    </main>

    <footer class="container my-5">
        <h2>Rodapé</h2>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>