<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <nav class="container">
        <div class="border border-dark">
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Cursos</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Sobre</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Palestra</a>
                </li>
            </ul>
        </div>
    </nav>

    <header class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-4 d-none d-md-block">
                <figure class="w-75 mx-auto">
                    <img src="../images/mountains.png" alt="Montanhas" class="img-fluid">
                    <figcaption class="text-center">André Moura</figcaption>
                </figure>
            </div>
            <div class="col-10 col-md-8 align-self-center">
                <h1 class="d-none d-md-block">Prova de Microinformática</h1>
                <h3 class="d-md-none">Prova de Microinformática</h3>
                <h2 class="d-none d-md-block">André Moura</h2>
                <h4 class="d-md-none">André Moura</h4>
            </div>
        </div>
    </header>

    <main class="container mt-5">
        <section class="row bg-warning pt-3 pb-4">
            <div class="col-12">
                <h2 class="text-center">Cursos</h2>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mt-lg-3">
                <div class="card border-dark mx-5 mr-md-0 ml-md-3 mx-lg-0">
                    <div class="card-header border-bottom-0 pb-0">
                        <div class="row justify-content-center">
                            <div class="col-5 col-lg-8">
                                <figure>
                                    <img src="../images/heart.png" alt="Coração" class="img-fluid">
                                    <figcaption class="text-center h5">Figura 01</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <h3 class="card-tile">Nome Aluno</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates rem tenetur ducimus veniam velit consequatur modi, unde numquam laboriosam.
                        </p>
                        <button class="btn btn-primary px-4">Pesquisar</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mt-4 mt-md-0 mt-lg-3">
                <div class="card border-dark mx-5 ml-md-0 mr-md-3 mx-lg-0">
                    <div class="card-header border-bottom-0 pb-0">
                        <div class="row justify-content-center">
                            <div class="col-5 col-lg-8">
                                <figure>
                                    <img src="../images/book.png" alt="Livro" class="img-fluid">
                                    <figcaption class="text-center h5">Figura 02</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <h3 class="card-tile">Prova</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates rem tenetur ducimus veniam velit consequatur modi, unde numquam laboriosam.
                        </p>
                        <button class="btn btn-primary px-4">Pesquisar</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mt-4 mt-lg-3">
                <div class="card border-dark mx-5 mr-md-0 ml-md-3 mx-lg-0">
                    <div class="card-header border-bottom-0 pb-0">
                        <div class="row justify-content-center">
                            <div class="col-5 col-lg-8">
                                <figure>
                                    <img src="../images/calendar.png" alt="Calendário" class="img-fluid">
                                    <figcaption class="text-center h5">Figura 03</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <h3 class="card-tile">Micro</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates rem tenetur ducimus veniam velit consequatur modi, unde numquam laboriosam.
                        </p>
                        <button class="btn btn-primary px-4">Pesquisar</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mt-4 mt-lg-3">
                <div class="card border-dark mx-5 ml-md-0 mr-md-3 mx-lg-0">
                    <div class="card-header border-bottom-0 pb-0">
                        <div class="row justify-content-center">
                            <div class="col-5 col-lg-8">
                                <figure>
                                    <img src="../images/mobile.png" alt="Celular" class="img-fluid">
                                    <figcaption class="text-center h5">Figura 04</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <h3 class="card-tile">Informática</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates rem tenetur ducimus veniam velit consequatur modi, unde numquam laboriosam.
                        </p>
                        <button class="btn btn-primary px-4">Pesquisar</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="row py-4">
            <div class="col-12">
                <h2 class="text-center">Sobre</h2>
            </div>

            <div class="col-12 col-lg-6 px-lg-5">
                <article>
                    <h3>Nome do Aluno</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, nesciunt temporibus. Possimus, enim ab? Distinctio, sequi consectetur culpa molestiae nulla alias vel dolores architecto reprehenderit, eos qui ullam est quidem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum velit sequi, ab ut nulla recusandae tenetur deserunt beatae, suscipit at voluptate provident dolorum ipsa, dolore inventore voluptates neque aperiam? Commodi.
                    </p>
                </article>
                <div class="text-center">
                    <button class="btn btn-success px-4 d-inline">Cadastrar</button>
                </div>
            </div>

            <div class="col-12 col-lg-6 mt-3 mt-lg-0 px-lg-5">
                <article>
                    <h3>Prova</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, nesciunt temporibus. Possimus, enim ab? Distinctio, sequi consectetur culpa molestiae nulla alias vel dolores architecto reprehenderit, eos qui ullam est quidem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum velit sequi, ab ut nulla recusandae tenetur deserunt beatae, suscipit at voluptate provident dolorum ipsa, dolore inventore voluptates neque aperiam? Commodi.
                    </p>
                </article>
                <div class="text-center">
                    <button class="btn btn-success px-4 d-inline">Cadastrar</button>
                </div>
            </div>
        </section>

        <section class="row bg-warning pt-3 pb-4">
            <div class="col-12">
                <h2 class="text-center">Palestra</h2>
            </div>

            <div class="col-lg-3 d-none d-lg-block">
                <div class="row justify-content-center">
                    <div class="col-5">
                        <figure>
                            <img src="../images/mic.png" alt="Microfone" class="img-fluid">
                            <figcaption class="text-center h5">Figura 05</figcaption>
                        </figure>
                        <figure  class="mt-5">
                            <img src="../images/camera.png" alt="Camêra" class="img-fluid">
                            <figcaption class="text-center h5">Figura 06</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-9">
                <article class="mx-4">
                    <h3>Nome do Aluno</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, nesciunt temporibus. Possimus, enim ab? Distinctio, sequi consectetur culpa molestiae nulla alias vel dolores architecto reprehenderit, eos qui ullam est quidem. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <p class="d-none d-md-block mt-4">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora consequatur debitis, velit inventore vitae placeat distinctio quam modi quibusdam, a dolore vel optio accusamus perferendis necessitatibus dolores commodi praesentium temporibus.
                    </p>
                </article>
            </div>
        </section>
    </main>

    <footer class="container my-4">
        <div class="row justify-content-center">
            <div class="col-11 col-md-6">
                <h3>Endereço</h3>
                <p>
                    <span class="d-block">Rua Geral R. Alckmin, 1501</span>
                    <span class="d-block">Guaratinguetá - SP</span>
                </p>
            </div>

            <div class="col-11 col-md-6">
                <h3>Parceiros</h3>
                <ul>
                    <li>Empresa EducaME</li>
                    <li>Nome do Aluno</li>
                    <li>FATEC</li>
                </ul>
            </div>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>