<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <header class="container mt-5">
        <div class="bg-info p-2 pb-5">
            <h1 class="pb-5">Cabeçalho</h1>
        </div>
    </header>

    <nav class="container mt-4">
        <ul class="nav">
            <li class="nav-item"><a href="../index.html" class="nav-link">Página inicial</a></li>
            <li class="nav-item"><a href="./page12.html" class="nav-link">Link Página 01</a></li>
            <li class="nav-item"><a href="./page14.html" class="nav-link">Link Página 03</a></li>
        </ul>
    </nav>

    <main class="container mt-5">
        <article class="row mx-4">
            <div class="col-8">
                <h1>Página 02</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione qui, animi modi laborum voluptatem, voluptas illo earum vel similique, vero maiores assumenda sint molestias tempore quasi accusantium voluptatibus dolor!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione qui, animi modi laborum voluptatem, voluptas illo earum vel similique, vero maiores assumenda sint molestias tempore quasi accusantium voluptatibus dolor!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione qui, animi modi laborum voluptatem, voluptas illo earum vel similique, vero maiores assumenda sint molestias tempore quasi accusantium voluptatibus dolor!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione qui, animi modi laborum voluptatem, voluptas illo earum vel similique, vero maiores assumenda sint molestias tempore quasi accusantium voluptatibus dolor!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione qui, animi modi laborum voluptatem, voluptas illo earum vel similique, vero maiores assumenda sint molestias tempore quasi accusantium voluptatibus dolor!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ratione qui, animi modi laborum voluptatem, voluptas illo earum vel similique, vero maiores assumenda sint molestias tempore quasi accusantium voluptatibus dolor!
                </p>
            </div>
            <div class="col-4">
                <h2>Figuras</h2>
                <figure>
                    <img src="https://picsum.photos/400/300" alt="Figura" class="img-fluid">
                    <figcaption>figura 01</figcaption>
                </figure>
                <figure>
                    <img src="https://picsum.photos/400/300" alt="Figura" class="img-fluid">
                    <figcaption>figura 02</figcaption>
                </figure>
                <figure>
                    <img src="https://picsum.photos/400/300" alt="Figura" class="img-fluid">
                    <figcaption>figura 03</figcaption>
                </figure>
            </div>
        </article>
    </main>

    <footer class="container border-top mt-4 mb-5">
        <h3 class="pt-1">Rodapé</h3>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>