<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <nav class="container mt-5">
        <div class="card border-dark">
            <ul class="nav font-weight-bold">
                <li class="nav-item">
                    <a href="#" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">André Moura</a>
                </li>
            </ul>
        </div>
    </nav>

    <header class="container mt-4">
        <div class="card border-dark">
            <div class="card-body">
                <h1 class="card-title">Prova de Microinformática</h1>
                <h2 class="card-subtitle">André Moura</h2>
            </div>
        </div>
    </header>

    <main class="container mt-5">
        <div class="row">
            <section class="col-6 pr-4">
                <figure class="w-75 mx-auto py-4">
                    <img src="../images/heart.png" alt="Coracao" class="img-fluid">
                    <figcaption class="text-center h4">Figura 01</figcaption>
                </figure>
                <article>
                    <h2>Texto 02</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, nesciunt temporibus. Possimus, enim ab? Distinctio, sequi consectetur culpa molestiae nulla alias vel dolores architecto reprehenderit, eos qui ullam est quidem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum velit sequi, ab ut nulla recusandae tenetur deserunt beatae, suscipit at voluptate provident dolorum ipsa, dolore inventore voluptates neque aperiam? Commodi. Cum velit sequi, ab ut nulla recusandae tenetur deserunt beatae, suscipit at voluptate provident dolorum ipsa, dolore inventore voluptates neque aperiam? Commodi. Distinctio, sequi consectetur culpa molestiae nulla alias vel dolores architecto reprehenderit, eos qui ullam est quidem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum velit sequi, ab ut nulla recusandae tenetur deserunt beatae, suscipit at voluptate provident dolorum ipsa.
                    </p>
                </article>
                <figure class="w-75 mx-auto py-4">
                    <img src="../images/music.png" alt="Musica" class="img-fluid">
                    <figcaption class="text-center h4">Figura 03</figcaption>
                </figure>
            </section>

            <section class="col-6 pl-4">
                <article>
                    <h2>Texto 01</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, nesciunt temporibus. Possimus, enim ab? Distinctio, sequi consectetur culpa molestiae nulla alias vel dolores architecto reprehenderit, eos qui ullam est quidem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum velit sequi, ab ut nulla recusandae tenetur deserunt beatae, suscipit at voluptate provident dolorum ipsa, dolore inventore voluptates neque aperiam? Commodi. Cum velit sequi, ab ut nulla recusandae tenetur deserunt beatae, suscipit at voluptate provident dolorum ipsa, dolore inventore voluptates neque aperiam? Commodi. Distinctio, sequi consectetur culpa molestiae nulla alias vel dolores architecto reprehenderit, eos qui ullam est quidem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum velit sequi, ab ut nulla recusandae tenetur deserunt beatae, suscipit at voluptate provident dolorum ipsa.
                    </p>
                </article>
                <figure class="w-75 mx-auto py-4">
                    <img src="../images/camera.png" alt="Camera" class="img-fluid">
                    <figcaption class="text-center h4">Figura 02</figcaption>
                </figure>
                <article class="mt-5">
                    <h2>Texto 03</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, nesciunt temporibus. Possimus, enim ab? Distinctio, sequi consectetur culpa molestiae nulla alias vel dolores architecto reprehenderit, eos qui ullam est quidem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum velit sequi, ab ut nulla recusandae tenetur deserunt beatae, suscipit at voluptate provident dolorum ipsa, dolore inventore voluptates neque aperiam? Commodi. Cum velit sequi, ab ut nulla recusandae tenetur deserunt beatae, suscipit at voluptate provident dolorum ipsa, dolore inventore voluptates neque aperiam? Commodi. Distinctio, sequi consectetur culpa molestiae nulla alias vel dolores architecto reprehenderit, eos qui ullam est quidem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum velit sequi, ab ut nulla recusandae tenetur deserunt beatae, suscipit at voluptate provident dolorum ipsa.
                    </p>
                </article>
            </section>
        </div>
    </main>

    <footer class="container mt-4 mb-5">
        <div class="border-top border-dark">
            <h3 class="text-right mt-3">Rodapé - André de Moura Benedicto</h3>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>