<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <header class="container">
        <h2 class="text-center">Cabeçalho</h2>
        <h2 class="text-right mt-4 py-1 border-top border-bottom border-danger">André Moura Benedicto</h2>
    </header>

    <main class="container my-4">
        <section>
            <h2>Lista</h2>
            <ul class="font-weight-bold">
                <li>Xxxxxx xxxx xxxx</li>
                <li>Xxxxxx xxxx xxxx</li>
                <li>Xxxxxx xxxx xxxx</li>
                <li>Xxxxxx xxxx xxxx</li>
                <li>Xxxxxx xxxx xxxx</li>
                <li>Xxxxxx xxxx xxxx</li>
                <li>Xxxxxx xxxx xxxx</li>
                <li>Xxxxxx xxxx xxxx</li>
            </ul>
        </section>

        <section class="mt-4">
            <h2>Equação</h2>
            <p class="h5 pl-4">Área a circunferência = PI x Raio</p>
        </section>

        <section class="mt-4">
            <h2>Citação</h2>
            <p class="h5 pl-4">xxxxxxxxxxxxxx xxxxxxxxxxxxx xxxxx</p>
        </section>
    </main>

    <footer class="container mt-5">
        <div class="text-right border-bottom border-danger">
            <h3>Contato:</h3>
            <p class="h5 pr-4">xxxxxxxxxxxxxx xxxxxxxxxxxxx xxxxx</p>
        </div>
        <h2 class="mt-1">Rodapé</h2>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>